.news-wrapper {
    width: 80%;
    margin: 1rem auto;
    background-color: #F9F7F7;
    border-radius: 0.35rem;
    padding: 2rem;
}

.news-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

.news-page {
    font-size: 1.1rem;
    text-decoration: none;
    color: #A0A0A0;
}

.news-upper {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.news-lower {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.news-info {
    font-size: 0.8rem;
    color: #A0A0A0;
}

.news-info > a {
    font-size: 0.9rem;
    color: #3F72AF;
    margin-right: 0.1rem;
    line-height: 0;
}

.news-info > p, p.news-info {
    margin-right: 0.3rem;
}

.news-body {
    font-size: 1.15rem;
    line-height: 0;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 3rem;
}

.add-comm-btn {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    margin: 2rem 0;
    display: block;
    border: none;
    border-radius: 0.5rem;
    background-color: #112D4E;
    color: white;
    cursor: pointer;
}

.reply-btn {
    margin: 0.75rem 0;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    display: block;
    border: none;
    border-radius: 0.5rem;
    background-color: #112D4E;
    color: white;
    cursor: pointer;
}